@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");

@font-face {
  font-family: "league-gothic";
  src: url(../src/fonts/LeagueGothic-Condensed.woff), format("woff");
}

.logo {
  height: auto;
  margin-left: 3rem;
  width: 12rem;
  max-width: 100%;
  max-height: 100%;
}

.nav-wrapper {
  background-color: #ffff;
}

.no-shadows {
  box-shadow: none !important;
}

.nav-about,
.nav-resources,
.nav-map {
  padding-right: 4rem;
  font-family: "roboto medium";
  color: #0f6a79;
}

.material-icons {
  color: #0f6a79;
}

.nav-profile {
  padding-right: 2rem;
  font-family: "roboto medium";
  color: #0f6a79;
}
